{%extends "blog/base.html"%}
{% load crispy_forms_tags %}
{%block content%}
    <div class="content-section">
        <form method="POST">
            {%csrf_token%}
           
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Registrer deg og del dine tanker</legend>
                {{form.as_p}} <!-- crispy form -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Bli med eller så er du slem</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Har du allerede bruker? Logg in davel. <a class="ml-2" href="#">Log in her</a>
            </small>
        </div>
    </div>

{%endblock content%}